extends layout

block content

  .error-msg-div
    i.fas.fa-exclamation.fa-6x

    h1= error.message
    if error.message !== 'Book not found'
      h2 Error code: #{error.status}
    
    p
      a(class='button' href='/books') Home